In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Carseats.csv")
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [3]:
X = df[["Sales","CompPrice","Income","Advertising","Population","Price","ShelveLoc","Age","Education","Urban"]].values
X[0:5]

array([[9.5, 138, 73, 11, 276, 120, 'Bad', 42, 17, 'Yes'],
       [11.22, 111, 48, 16, 260, 83, 'Good', 65, 10, 'Yes'],
       [10.06, 113, 35, 10, 269, 80, 'Medium', 59, 12, 'Yes'],
       [7.4, 117, 100, 4, 466, 97, 'Medium', 55, 14, 'Yes'],
       [4.15, 141, 64, 3, 340, 128, 'Bad', 38, 13, 'Yes']], dtype=object)

In [4]:
df["Urban"].unique()

array(['Yes', 'No'], dtype=object)

In [5]:
from sklearn.preprocessing import LabelEncoder
leb_shelveLoc = LabelEncoder()
leb_shelveLoc.fit(["Bad","Medium","Good"])
X[:,6] = leb_shelveLoc.transform(X[:,6])


leb_Urban = LabelEncoder()
leb_Urban.fit(["Yes","No"])
X[:,9] = leb_Urban.transform(X[:,9])

X[0:5]

array([[9.5, 138, 73, 11, 276, 120, 0, 42, 17, 1],
       [11.22, 111, 48, 16, 260, 83, 1, 65, 10, 1],
       [10.06, 113, 35, 10, 269, 80, 2, 59, 12, 1],
       [7.4, 117, 100, 4, 466, 97, 2, 55, 14, 1],
       [4.15, 141, 64, 3, 340, 128, 0, 38, 13, 1]], dtype=object)

In [6]:
y = df["US"]
y[:5]

0    Yes
1    Yes
2    Yes
3    Yes
4     No
Name: US, dtype: object

In [7]:
print(X.shape)
print(y.shape)

(400, 10)
(400,)

In [8]:
from sklearn.model_selection import KFold 
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
carseatsModel = DecisionTreeClassifier(criterion="entropy", max_depth = 4)

In [9]:
k = 5
kf = KFold(n_splits=k, random_state=2)
 
acc_score = []
 
for train_index , test_index in kf.split(X):
    X_train , X_test = X[train_index,:],X[test_index,:]
    y_train , y_test = y[train_index] , y[test_index]
     
    carseatsModel.fit(X_train,y_train)
    pred_values = carseatsModel.predict(X_test)
     
    acc = accuracy_score(pred_values , y_test)
    acc_score.append(acc)

In [10]:
avg_acc_score = sum(acc_score)/k
 
print('accuracy of each fold - {}'.format(acc_score))
print('Avg accuracy : {}'.format(avg_acc_score))

accuracy of each fold - [0.8125, 0.8875, 0.8625, 0.9375, 0.9125]
Avg accuracy : 0.8825